In [1]:
import pandas as pd

retail = pd.read_csv('a1-resources/retail.txt')

retail.describe()

                                88162
count                           88162
unique                          88162
top     88162\t5\t32 39 205 242 1393
freq                                1

In [2]:
retail.head()

                                               88162
0  1\t30\t0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 1...
1                                    2\t3\t30 31 32
2                                    3\t3\t33 34 35
3           4\t11\t36 37 38 39 40 41 42 43 44 45 46
4                                 5\t4\t38 39 47 48