In [2]:
import pandas as pd

retail = pd.read_csv('a1-resources/retail.txt')

retail.describe()

                                88162
count                           88162
unique                          88162
top     88162\t5\t32 39 205 242 1393
freq                                1

In [3]:
retail.head()

                                               88162
0  1\t30\t0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 1...
1                                    2\t3\t30 31 32
2                                    3\t3\t33 34 35
3           4\t11\t36 37 38 39 40 41 42 43 44 45 46
4                                 5\t4\t38 39 47 48

In [13]:
for index, row in retail.iterrows():
    words = row.str.split(r'[\t ]')
    print(words)

88162    [1, 30, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, ...
Name: 0, dtype: object
88162    [2, 3, 30, 31, 32, ]
Name: 1, dtype: object
88162    [3, 3, 33, 34, 35, ]
Name: 2, dtype: object
88162    [4, 11, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45...
Name: 3, dtype: object
88162    [5, 4, 38, 39, 47, 48, ]
Name: 4, dtype: object
88162    [6, 13, 38, 39, 48, 49, 50, 51, 52, 53, 54, 55...
Name: 5, dtype: object
88162    [7, 6, 32, 41, 59, 60, 61, 62, ]
Name: 6, dtype: object
88162    [8, 3, 3, 39, 48, ]
Name: 7, dtype: object
88162    [9, 6, 63, 64, 65, 66, 67, 68, ]
Name: 8, dtype: object
88162    [10, 2, 32, 69, ]
Name: 9, dtype: object
88162    [11, 4, 48, 70, 71, 72, ]
Name: 10, dtype: object
88162    [12, 8, 39, 73, 74, 75, 76, 77, 78, 79, ]
Name: 11, dtype: object
88162    [13, 8, 36, 38, 39, 41, 48, 79, 80, 81, ]
Name: 12, dtype: object
88162    [14, 3, 82, 83, 84, ]
Name: 13, dtype: object
88162    [15, 5, 41, 85, 86, 87, 88, ]
Name: 14, dtype: object
88162    [16, 15, 39, 48, 89, 90, 91, 92, 93, 94, 95, 9...
Name: 15, dtype: object
88162    [17, 5, 36, 38, 39, 48, 89, ]
Name: 16, dtype: object
88162    [18, 9, 39, 41, 102, 103, 104, 105, 106, 107, ...
Name: 17, dtype: object
88162    [19, 5, 38, 39, 41, 109, 110, ]
Name: 18, dtype: object
88162    [20, 9, 39, 111, 112, 113, 114, 115, 116, 117,...
Name: 19, dtype: object
88162    [21, 15, 119, 120, 121, 122, 123, 124, 125, 12...
Name: 20, dtype: object
88162    [22, 4, 48, 134, 135, 136, ]
Name: 21, dtype: object
88162    [23, 15, 39, 48, 137, 138, 139, 140, 141, 142,...
Name: 22, dtype: object
88162    [24, 4, 39, 150, 151, 152, ]
Name: 23, dtype: object
88162    [25, 6, 38, 39, 56, 153, 154, 155, ]
Name: 24, dtype: object
88162    [26, 6, 48, 156, 157, 158, 159, 160, ]
Name: 25, dtype: object
88162    [27, 3, 39, 41, 48, ]
Name: 26, dtype: object
88162    [28, 7, 161, 162, 163, 164, 165, 166, 167, ]
Name: 27, dtype: object
88162    [29, 9, 38, 39, 48, 168, 169, 170, 171, 172, 1...
Name: 28, dtype: object
88162    [30, 9, 32, 39, 41, 48, 174, 175, 176, 177, 17...
Name: 29, dtype: object
88162    [31, 10, 32, 38, 39, 47, 48, 179, 180, 181, 18...
Name: 30, dtype: object
88162    [32, 4, 39, 184, 185, 186, ]
Name: 31, dtype: object
88162    [33, 7, 36, 38, 41, 48, 140, 187, 188, ]
Name: 32, dtype: object
88162    [34, 15, 39, 48, 186, 189, 190, 191, 192, 193,...
Name: 33, dtype: object
88162    [35, 10, 39, 201, 202, 203, 204, 205, 206, 207...
Name: 34, dtype: object
88162    [36, 9, 39, 65, 193, 210, 211, 212, 213, 214, ...
Name: 35, dtype: object
88162    [37, 10, 179, 216, 217, 218, 219, 220, 221, 22...
Name: 36, dtype: object
88162    [38, 3, 225, 226, 227, ]
Name: 37, dtype: object
88162    [39, 7, 39, 41, 48, 228, 229, 230, 231, ]
Name: 38, dtype: object
88162    [40, 14, 36, 38, 39, 232, 233, 234, 235, 236, ...
Name: 39, dtype: object
88162    [41, 4, 39, 243, 244, 245, ]
Name: 40, dtype: object
88162    [42, 8, 39, 41, 48, 246, 247, 248, 249, 250, ]
Name: 41, dtype: object
88162    [43, 6, 39, 48, 65, 251, 252, 253, ]
Name: 42, dtype: object
88162    [44, 3, 48, 230, 254, ]
Name: 43, dtype: object
88162    [45, 12, 39, 48, 66, 78, 242, 255, 256, 257, 2...
Name: 44, dtype: object
88162    [46, 3, 39, 48, 262, ]
Name: 45, dtype: object
88162    [47, 9, 36, 38, 39, 225, 263, 264, 265, 266, 2...
Name: 46, dtype: object
88162    [48, 6, 39, 242, 268, 269, 270, 271, ]
Name: 47, dtype: object
88162    [49, 8, 39, 48, 79, 146, 237, 256, 272, 273, ]
Name: 48, dtype: object
88162    [50, 1, 274, ]
Name: 49, dtype: object
88162    [51, 13, 32, 38, 39, 48, 275, 276, 277, 278, 2...
Name: 50, dtype: object
88162    [52, 3, 39, 48, 68, ]
Name: 51, dtype: object
88162    [53, 10, 38, 39, 48, 95, 96, 105, 284, 285, 28...
Name: 52, dtype: object
88162    [54, 16, 39, 41, 48, 212, 288, 289, 290, 291, ...
Name: 53, dtype: object
88162    [55, 3, 300, 301, 302, ]
Name: 54, dtype: object
88162    [56, 23, 36, 38, 39, 105, 303, 304, 305, 306, ...
Name: 55, dtype: object
88162    [57, 7, 10, 322, 323, 324, 325, 326, 327, ]
Name: 56, dtype: object
88162    [58, 5, 39, 48, 152, 161, 328, ]
Name: 57, dtype: object
88162    [59, 3, 39, 329, 330, ]
Name: 58, dtype: object
88162    [60, 10, 48, 331, 332, 333, 334, 335, 336, 337...
Name: 59, dtype: object
88162    [61, 14, 18, 37, 38, 41, 48, 147, 340, 341, 34...
Name: 60, dtype: object
88162    [62, 7, 32, 39, 41, 48, 348, 349, 350, ]
Name: 61, dtype: object
88162    [63, 15, 48, 351, 352, 353, 354, 355, 356, 357...
Name: 62, dtype: object
88162    [64, 2, 365, 366, ]
Name: 63, dtype: object
88162    [65, 14, 38, 39, 41, 48, 60, 367, 368, 369, 37...
Name: 64, dtype: object
88162    [66, 17, 1, 11, 39, 41, 48, 65, 89, 376, 377, ...
Name: 65, dtype: object
88162    [67, 4, 386, 387, 388, 389, ]
Name: 66, dtype: object
88162    [68, 3, 38, 41, 390, ]
Name: 67, dtype: object
88162    [69, 3, 38, 55, 391, ]
Name: 68, dtype: object
88162    [70, 15, 32, 43, 151, 152, 201, 258, 340, 392,...
Name: 69, dtype: object
88162    [71, 6, 338, 400, 401, 402, 403, 404, ]
Name: 70, dtype: object
88162    [72, 4, 39, 405, 406, 407, ]
Name: 71, dtype: object
88162    [73, 22, 48, 89, 101, 179, 186, 258, 340, 408,...
Name: 72, dtype: object
88162    [74, 8, 39, 45, 48, 248, 423, 424, 425, 426, ]
Name: 73, dtype: object
88162    [75, 7, 141, 344, 427, 428, 429, 430, 431, ]
Name: 74, dtype: object
88162    [76, 4, 39, 432, 433, 434, ]
Name: 75, dtype: object
88162    [77, 7, 39, 48, 65, 435, 436, 437, 438, ]
Name: 76, dtype: object
88162    [78, 23, 15, 23, 36, 38, 48, 123, 229, 291, 33...
Name: 77, dtype: object
88162    [79, 11, 48, 451, 452, 453, 454, 455, 456, 457...
Name: 78, dtype: object
88162    [80, 16, 37, 38, 48, 147, 174, 461, 462, 463, ...
Name: 79, dtype: object
88162    [81, 6, 39, 48, 472, 473, 474, 475, ]
Name: 80, dtype: object
88162    [82, 3, 39, 41, 476, ]
Name: 81, dtype: object
88162    [83, 3, 477, 478, 479, ]
Name: 82, dtype: object
88162    [84, 9, 39, 161, 480, 481, 482, 483, 484, 485,...
Name: 83, dtype: object
88162    [85, 7, 32, 39, 41, 48, 152, 237, 396, ]
Name: 84, dtype: object
88162    [86, 6, 38, 39, 41, 105, 110, 487, ]
Name: 85, dtype: object
88162    [87, 2, 60, 381, ]
Name: 86, dtype: object
88162    [88, 17, 11, 39, 48, 255, 488, 489, 490, 491, ...
Name: 87, dtype: object
88162    [89, 1, 39, ]
Name: 88, dtype: object
88162    [90, 3, 41, 110, 501, ]
Name: 89, dtype: object
88162    [91, 8, 32, 38, 39, 48, 170, 178, 502, 503, ]
Name: 90, dtype: object
88162    [92, 3, 38, 41, 504, ]
Name: 91, dtype: object
88162    [93, 14, 225, 232, 347, 505, 506, 507, 508, 50...
Name: 92, dtype: object
88162    [94, 9, 38, 39, 41, 48, 170, 189, 225, 270, 51...
Name: 93, dtype: object
88162    [95, 2, 39, 48, ]
Name: 94, dtype: object
88162    [96, 4, 38, 39, 281, 517, ]
Name: 95, dtype: object
88162    [97, 4, 2, 518, 519, 520, ]
Name: 96, dtype: object
88162    [98, 3, 310, 521, 522, ]
Name: 97, dtype: object
88162    [99, 3, 41, 523, 524, ]
Name: 98, dtype: object
88162    [100, 12, 48, 310, 416, 521, 522, 525, 526, 52...
Name: 99, dtype: object
88162    [101, 4, 38, 39, 110, 532, ]
Name: 100, dtype: object
88162    [102, 21, 18, 38, 47, 48, 89, 258, 293, 338, 3...
Name: 101, dtype: object
88162    [103, 13, 39, 48, 106, 107, 264, 308, 384, 498...
Name: 102, dtype: object
88162    [104, 12, 39, 48, 312, 550, 551, 552, 553, 554...
Name: 103, dtype: object
88162    [105, 25, 32, 39, 41, 48, 89, 129, 255, 357, 3...
Name: 104, dtype: object
88162    [106, 4, 38, 170, 201, 571, ]
Name: 105, dtype: object
88162    [107, 7, 39, 41, 48, 572, 573, 574, 575, ]
Name: 106, dtype: object
88162    [108, 4, 38, 39, 161, 281, ]
Name: 107, dtype: object
88162    [109, 21, 36, 38, 48, 78, 155, 576, 577, 578, ...
Name: 108, dtype: object
88162    [110, 11, 39, 48, 592, 593, 594, 595, 596, 597...
Name: 109, dtype: object
88162    [111, 4, 39, 178, 601, 602, ]
Name: 110, dtype: object
88162    [112, 8, 38, 39, 170, 207, 603, 604, 605, 606, ]
Name: 111, dtype: object
88162    [113, 22, 126, 290, 292, 548, 607, 608, 609, 6...
Name: 112, dtype: object
88162    [114, 2, 625, 626, ]
Name: 113, dtype: object
88162    [115, 3, 39, 48, 627, ]
Name: 114, dtype: object
88162    [116, 15, 39, 41, 48, 134, 272, 475, 628, 629,...
Name: 115, dtype: object
88162    [117, 2, 39, 48, ]
Name: 116, dtype: object
88162    [118, 9, 38, 39, 41, 48, 89, 110, 637, 638, 63...
Name: 117, dtype: object
88162    [119, 15, 38, 48, 170, 242, 255, 389, 604, 640...
Name: 118, dtype: object
88162    [120, 4, 36, 38, 39, 271, ]
Name: 119, dtype: object
88162    [121, 1, 39, ]
Name: 120, dtype: object
88162    [122, 11, 39, 89, 186, 543, 648, 649, 650, 651...
Name: 121, dtype: object
88162    [123, 5, 41, 511, 655, 656, 657, ]
Name: 122, dtype: object
88162    [124, 3, 39, 48, 658, ]
Name: 123, dtype: object
88162    [125, 20, 39, 48, 201, 659, 660, 661, 662, 663...
Name: 124, dtype: object
88162    [126, 6, 39, 41, 676, 677, 678, 679, ]
Name: 125, dtype: object
88162    [127, 3, 39, 72, 365, ]
Name: 126, dtype: object
88162    [128, 3, 39, 680, 681, ]
Name: 127, dtype: object
88162    [129, 19, 23, 39, 41, 48, 260, 357, 470, 682, ...
Name: 128, dtype: object
88162    [130, 5, 37, 38, 39, 48, 694, ]
Name: 129, dtype: object
88162    [131, 15, 32, 39, 166, 346, 533, 695, 696, 697...
Name: 130, dtype: object
88162    [132, 12, 12, 39, 578, 597, 705, 706, 707, 708...
Name: 131, dtype: object
88162    [133, 5, 39, 155, 338, 713, 714, ]
Name: 132, dtype: object
88162    [134, 10, 37, 38, 39, 41, 48, 170, 433, 715, 7...
Name: 133, dtype: object
88162    [135, 2, 718, 719, ]
Name: 134, dtype: object
88162    [136, 5, 39, 48, 150, 160, 720, ]
Name: 135, dtype: object
88162    [137, 28, 19, 36, 38, 39, 41, 48, 248, 543, 72...
Name: 136, dtype: object
88162    [138, 7, 41, 48, 741, 742, 743, 744, 745, ]
Name: 137, dtype: object
88162    [139, 2, 10, 746, ]
Name: 138, dtype: object
88162    [140, 3, 9, 39, 41, ]
Name: 139, dtype: object
88162    [141, 1, 747, ]
Name: 140, dtype: object
88162    [142, 2, 359, 748, ]
Name: 141, dtype: object
88162    [143, 10, 9, 227, 715, 749, 750, 751, 752, 753...
Name: 142, dtype: object
88162    [144, 12, 39, 48, 68, 649, 756, 757, 758, 759,...
Name: 143, dtype: object
88162    [145, 9, 209, 211, 242, 618, 637, 651, 764, 76...
Name: 144, dtype: object
88162    [146, 4, 647, 767, 768, 769, ]
Name: 145, dtype: object
88162    [147, 3, 39, 41, 770, ]
Name: 146, dtype: object
88162    [148, 3, 38, 286, 359, ]
Name: 147, dtype: object
88162    [149, 2, 38, 110, ]
Name: 148, dtype: object
88162    [150, 6, 19, 39, 284, 420, 771, 772, ]
Name: 149, dtype: object
88162    [151, 4, 39, 48, 773, 774, ]
Name: 150, dtype: object
88162    [152, 9, 37, 38, 110, 334, 775, 776, 777, 778,...
Name: 151, dtype: object
88162    [153, 20, 11, 39, 41, 48, 67, 102, 225, 228, 2...
Name: 152, dtype: object
88162    [154, 5, 38, 39, 41, 790, 791, ]
Name: 153, dtype: object
88162    [155, 4, 38, 39, 48, 286, ]
Name: 154, dtype: object
88162    [156, 26, 38, 39, 41, 47, 48, 61, 150, 312, 44...
Name: 155, dtype: object
88162    [157, 3, 48, 768, 806, ]
Name: 156, dtype: object
88162    [158, 4, 38, 41, 170, 420, ]
Name: 157, dtype: object
88162    [159, 2, 38, 286, ]
Name: 158, dtype: object
88162    [160, 6, 39, 41, 48, 807, 808, 809, ]
Name: 159, dtype: object
88162    [161, 4, 32, 41, 420, 810, ]
Name: 160, dtype: object
88162    [162, 5, 39, 48, 89, 811, 812, ]
Name: 161, dtype: object
88162    [163, 12, 0, 39, 48, 65, 120, 181, 730, 813, 8...
Name: 162, dtype: object
88162    [164, 5, 22, 32, 39, 818, 819, ]
Name: 163, dtype: object
88162    [165, 7, 39, 41, 806, 820, 821, 822, 823, ]
Name: 164, dtype: object
88162    [166, 19, 39, 48, 179, 490, 570, 572, 649, 723...
Name: 165, dtype: object
88162    [167, 8, 36, 38, 483, 492, 740, 835, 836, 837, ]
Name: 166, dtype: object
88162    [168, 6, 38, 838, 839, 840, 841, 842, ]
Name: 167, dtype: object
88162    [169, 6, 48, 798, 843, 844, 845, 846, ]
Name: 168, dtype: object
88162    [170, 9, 9, 39, 48, 704, 767, 809, 847, 848, 8...
Name: 169, dtype: object
88162    [171, 10, 9, 38, 39, 170, 330, 714, 850, 851, ...
Name: 170, dtype: object
88162    [172, 4, 39, 41, 48, 854, ]
Name: 171, dtype: object
88162    [173, 3, 237, 855, 856, ]
Name: 172, dtype: object
88162    [174, 10, 39, 45, 48, 522, 535, 681, 857, 858,...
Name: 173, dtype: object
88162    [175, 4, 39, 48, 861, 862, ]
Name: 174, dtype: object
88162    [176, 3, 39, 48, 359, ]
Name: 175, dtype: object
88162    [177, 9, 38, 39, 48, 110, 161, 863, 864, 865, ...
Name: 176, dtype: object
88162    [178, 21, 441, 645, 867, 868, 869, 870, 871, 8...
Name: 177, dtype: object
88162    [179, 8, 39, 41, 161, 259, 260, 886, 887, 888, ]
Name: 178, dtype: object
88162    [180, 6, 39, 48, 798, 859, 889, 890, ]
Name: 179, dtype: object
88162    [181, 28, 39, 48, 101, 249, 255, 278, 441, 479...
Name: 180, dtype: object
88162    [182, 2, 39, 907, ]
Name: 181, dtype: object
88162    [183, 8, 48, 65, 908, 909, 910, 911, 912, 913, ]
Name: 182, dtype: object
88162    [184, 8, 38, 39, 48, 170, 303, 494, 914, 915, ]
Name: 183, dtype: object
88162    [185, 5, 31, 39, 41, 93, 916, ]
Name: 184, dtype: object
88162    [186, 6, 209, 917, 918, 919, 920, 921, ]
Name: 185, dtype: object
88162    [187, 21, 32, 38, 39, 41, 47, 191, 209, 348, 3...
Name: 186, dtype: object
88162    [188, 9, 32, 48, 270, 511, 750, 929, 930, 931,...
Name: 187, dtype: object
88162    [189, 20, 32, 38, 39, 41, 42, 170, 178, 213, 2...
Name: 188, dtype: object
88162    [190, 9, 39, 48, 942, 943, 944, 945, 946, 947,...
Name: 189, dtype: object
88162    [191, 8, 38, 39, 48, 286, 949, 950, 951, 952, ]
Name: 190, dtype: object
88162    [192, 11, 39, 41, 349, 606, 665, 953, 954, 955...
Name: 191, dtype: object
88162    [193, 6, 10, 39, 41, 48, 959, 960, ]
Name: 192, dtype: object
88162    [194, 13, 9, 48, 96, 107, 529, 549, 606, 789, ...
Name: 193, dtype: object
88162    [195, 5, 39, 269, 384, 966, 967, ]
Name: 194, dtype: object
88162    [196, 28, 25, 32, 41, 117, 185, 232, 248, 340,...
Name: 195, dtype: object
88162    [197, 35, 65, 76, 128, 136, 185, 535, 558, 612...
Name: 196, dtype: object
88162    [198, 3, 1006, 1007, 1008, ]
Name: 197, dtype: object
88162    [199, 5, 39, 389, 989, 1009, 1010, ]
Name: 198, dtype: object
88162    [200, 12, 39, 41, 48, 715, 755, 1011, 1012, 10...
Name: 199, dtype: object
88162    [201, 20, 65, 101, 175, 176, 178, 197, 282, 30...
Name: 200, dtype: object
88162    [202, 4, 39, 48, 237, 1027, ]
Name: 201, dtype: object
88162    [203, 28, 38, 84, 107, 108, 110, 133, 237, 249...
Name: 202, dtype: object
88162    [204, 4, 32, 1044, 1045, 1046, ]
Name: 203, dtype: object
88162    [205, 18, 39, 45, 48, 200, 259, 282, 359, 365,...
Name: 204, dtype: object
88162    [206, 5, 32, 868, 1052, 1053, 1054, ]
Name: 205, dtype: object
88162    [207, 12, 39, 41, 48, 348, 352, 454, 533, 693,...
Name: 206, dtype: object
88162    [208, 5, 38, 39, 249, 371, 740, ]
Name: 207, dtype: object
88162    [209, 12, 48, 571, 681, 803, 967, 970, 1031, 1...
Name: 208, dtype: object
88162    [210, 2, 359, 1063, ]
Name: 209, dtype: object
88162    [211, 17, 32, 38, 48, 170, 186, 365, 413, 475,...
Name: 210, dtype: object
88162    [212, 6, 39, 1071, 1072, 1073, 1074, 1075, ]
Name: 211, dtype: object
88162    [213, 21, 48, 77, 101, 242, 571, 616, 822, 107...
Name: 212, dtype: object
88162    [214, 5, 39, 48, 255, 493, 1090, ]
Name: 213, dtype: object
88162    [215, 7, 38, 39, 48, 328, 504, 984, 1091, ]
Name: 214, dtype: object
88162    [216, 3, 48, 260, 665, ]
Name: 215, dtype: object
88162    [217, 8, 39, 41, 48, 956, 1031, 1092, 1093, 10...
Name: 216, dtype: object
88162    [218, 1, 32, ]
Name: 217, dtype: object
88162    [219, 4, 38, 170, 885, 1095, ]
Name: 218, dtype: object
88162    [220, 2, 433, 1096, ]
Name: 219, dtype: object
88162    [221, 9, 31, 846, 1097, 1098, 1099, 1100, 1101...
Name: 220, dtype: object
88162    [222, 11, 39, 48, 828, 1104, 1105, 1106, 1107,...
Name: 221, dtype: object
88162    [223, 4, 38, 39, 48, 170, ]
Name: 222, dtype: object
88162    [224, 8, 38, 39, 41, 390, 1112, 1113, 1114, 11...
Name: 223, dtype: object
88162    [225, 21, 38, 39, 41, 72, 105, 208, 346, 535, ...
Name: 224, dtype: object
88162    [226, 7, 39, 41, 48, 75, 1000, 1129, 1130, ]
Name: 225, dtype: object
88162    [227, 12, 32, 612, 976, 1013, 1131, 1132, 1133...
Name: 226, dtype: object
88162    [228, 8, 39, 249, 1139, 1140, 1141, 1142, 1143...
Name: 227, dtype: object
88162    [229, 3, 0, 39, 48, ]
Name: 228, dtype: object
88162    [230, 2, 38, 370, ]
Name: 229, dtype: object
88162    [231, 7, 39, 48, 155, 721, 766, 1062, 1145, ]
Name: 230, dtype: object
88162    [232, 10, 32, 38, 39, 41, 48, 63, 110, 548, 11...
Name: 231, dtype: object
88162    [233, 27, 36, 38, 39, 41, 48, 55, 332, 441, 56...
Name: 232, dtype: object
88162    [234, 8, 36, 38, 48, 255, 859, 1159, 1160, 116...
Name: 233, dtype: object
88162    [235, 6, 39, 48, 1003, 1162, 1163, 1164, ]
Name: 234, dtype: object
88162    [236, 5, 39, 48, 1165, 1166, 1167, ]
Name: 235, dtype: object
88162    [237, 5, 20, 1168, 1169, 1170, 1171, ]
Name: 236, dtype: object
88162    [238, 7, 38, 39, 41, 48, 105, 1172, 1173, ]
Name: 237, dtype: object
88162    [239, 2, 32, 39, ]
Name: 238, dtype: object
88162    [240, 12, 48, 251, 694, 809, 1144, 1174, 1175,...
Name: 239, dtype: object
88162    [241, 7, 48, 766, 781, 996, 1181, 1182, 1183, ]
Name: 240, dtype: object
88162    [242, 9, 39, 48, 237, 493, 676, 952, 1145, 118...
Name: 241, dtype: object
88162    [243, 4, 39, 48, 192, 1186, ]
Name: 242, dtype: object
88162    [244, 10, 28, 38, 39, 41, 161, 978, 1187, 1188...
Name: 243, dtype: object
88162    [245, 10, 39, 48, 123, 220, 475, 677, 1191, 11...
Name: 244, dtype: object
88162    [246, 1, 1190, ]
Name: 245, dtype: object
88162    [247, 6, 39, 48, 730, 987, 1195, 1196, ]
Name: 246, dtype: object
88162    [248, 2, 39, 1197, ]
Name: 247, dtype: object
88162    [249, 18, 65, 201, 266, 341, 433, 522, 694, 86...
Name: 248, dtype: object
88162    [250, 6, 68, 261, 628, 1208, 1209, 1210, ]
Name: 249, dtype: object
88162    [251, 9, 32, 38, 41, 110, 597, 1211, 1212, 121...
Name: 250, dtype: object
88162    [252, 13, 23, 39, 48, 101, 255, 604, 814, 1031...
Name: 251, dtype: object
88162    [253, 2, 1220, 1221, ]
Name: 252, dtype: object
88162    [254, 12, 187, 208, 270, 1051, 1206, 1222, 122...
Name: 253, dtype: object
88162    [255, 33, 38, 39, 41, 48, 357, 397, 533, 661, ...
Name: 254, dtype: object
88162    [256, 16, 32, 39, 43, 48, 67, 117, 132, 441, 4...
Name: 255, dtype: object
88162    [257, 2, 38, 170, ]
Name: 256, dtype: object
88162    [258, 16, 39, 48, 677, 775, 834, 1160, 1180, 1...
Name: 257, dtype: object
88162    [259, 7, 649, 825, 1261, 1262, 1263, 1264, 126...
Name: 258, dtype: object
88162    [260, 3, 39, 1266, 1267, ]
Name: 259, dtype: object
88162    [261, 9, 39, 41, 48, 1268, 1269, 1270, 1271, 1...
Name: 260, dtype: object
88162    [262, 11, 39, 48, 60, 200, 208, 676, 713, 952,...
Name: 261, dtype: object
88162    [263, 15, 36, 38, 41, 338, 340, 565, 668, 1277...
Name: 262, dtype: object
88162    [264, 5, 39, 48, 1153, 1154, 1285, ]
Name: 263, dtype: object
88162    [265, 14, 48, 151, 152, 189, 255, 525, 938, 10...
Name: 264, dtype: object
88162    [266, 3, 39, 41, 48, ]
Name: 265, dtype: object
88162    [267, 8, 38, 39, 41, 48, 110, 271, 1146, 1292, ]
Name: 266, dtype: object
88162    [268, 3, 48, 1293, 1294, ]
Name: 267, dtype: object
88162    [269, 3, 737, 1295, 1296, ]
Name: 268, dtype: object
88162    [270, 15, 39, 48, 393, 824, 1297, 1298, 1299, ...
Name: 269, dtype: object
88162    [271, 4, 475, 830, 1274, 1308, ]
Name: 270, dtype: object
88162    [272, 18, 37, 38, 39, 41, 48, 76, 445, 558, 58...
Name: 271, dtype: object
88162    [273, 24, 39, 48, 49, 98, 123, 237, 285, 475, ...
Name: 272, dtype: object
88162    [274, 2, 1329, 1330, ]
Name: 273, dtype: object
88162    [275, 7, 32, 185, 691, 890, 1331, 1332, 1333, ]
Name: 274, dtype: object

KeyboardInterrupt: