In [ ]:
import pandas as pd

retail = pd.read_csv('a1-resources/retail.txt', delimiter='\t')

retail.describe()

                                88162
count                           88162
unique                          88162
top     88162\t5\t32 39 205 242 1393
freq                                1

In [3]:
retail.head()

                                               88162
0  1\t30\t0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 1...
1                                    2\t3\t30 31 32
2                                    3\t3\t33 34 35
3           4\t11\t36 37 38 39 40 41 42 43 44 45 46
4                                 5\t4\t38 39 47 48

In [58]:
#test right now add all transactions into a 2d array
transactions = []
for index, row in retail.iterrows():
    words = row[0].split()
    transactions.append(words)

C:\Users\spenc\AppData\Local\Temp\ipykernel_37760\1633665883.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  words = row[0].split()

3

In [64]:
print(transactions[0][2])
print(transactions[1][0])
print(transactions[3][3])

0
2
37