In [1]:
import pandas as pd
import sklearn

D = pd.read_csv('a1-resources/retail.txt')
#D.describe()

In [2]:
D.head()

                                               88162
0  1\t30\t0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 1...
1                                    2\t3\t30 31 32
2                                    3\t3\t33 34 35
3           4\t11\t36 37 38 39 40 41 42 43 44 45 46
4                                 5\t4\t38 39 47 48

In [3]:
# String.format() method
print("count of rows in D: {}".format(len(D)))

count of rows in D: 88162

In [4]:
# Splitting a string on whitespace
"hello I am sentence".split()

['hello', 'I', 'am', 'sentence']

In [5]:
# It's easy to open a file in Python.
f = open("a1-resources/retail.txt")
# read 88162
f.readline()
# read the second line and turn it into a list
s = f.readline().split()
print(s)
# remove the first two elements
s = s[2:]
print(s)

['1', '30', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29']
['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29']

In [6]:
# Demonstration of String.rstrip()
s="hello\nhi\n"
print(s.rstrip())
print("OEF")

hello
hi
OEF

In [7]:
# Create an empty DataFrame with two columns but no rows
T=pd.DataFrame.from_dict({"A": [], "B": []})
T.head()

Empty DataFrame
Columns: [A, B]
Index: []

### From the documentation re: `ignore_index`

ignore_index : bool, default False

   If True, do not use the index values along the concatenation axis. The resulting axis will be labeled 0, ..., n - 1. This is useful if you are concatenating objects where the concatenation axis does not have meaningful indexing information. Note the index values on the other axes are still respected in the join.

In [8]:
df = pd.DataFrame.from_dict(dict([("A", [1, 2, 3]), ("B", [5, 6, 7])]))
print(df.loc[2]) 
print(df.loc[2].A)
pd.concat([df, pd.DataFrame.from_dict({"A": [4], "B": [8]})], ignore_index=True)

A    3
B    7
Name: 2, dtype: int64
3

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

# This'll be helpful

It refers to updating particular rows in a DataFrame.

In [9]:
df = pd.DataFrame({'A': ['a', 'b', 'c'],
                    'B': ['x', 'y', 'z']})
new_df = pd.DataFrame({'B': ['d', 'f']}, index=[0, 2])
df.update(new_df)
df

   A  B
0  a  d
1  b  y
2  c  f

In [10]:
# change (0, A) from 1 to 99)
df = pd.DataFrame.from_dict(dict([("A", [1, 2, 3]), ("B", [5, 6, 7])]))
pd.concat([df, pd.DataFrame.from_dict({"A": [4], "B": [8]})], ignore_index=True)
df.update(pd.DataFrame.from_dict(dict({"A": [99]})))
df

    A  B
0  99  5
1   2  6
2   3  7

In [11]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [400, 500, 600]})
df = df.assign(C = lambda x: df['A'] * df['B'])
new_df = pd.DataFrame({'B': [4, 5, 6], 'C': [7, 8, 9]})
df.update(new_df)
df.head()

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [12]:
x = df.loc[2].A
print(x)

3

# Handy way to simply peek at a line in a file

In [13]:
# Returns the current line of a given file
def peek(f):
    pos = f.tell()          # set  'pos' to current reader location
    result = f.readline()   # read whole line--reader advances to next line
    f.seek(pos)             # set reader to where it was before the call to readline()
    return result           # return result of earlier read

### Using the new `peek` function

In [14]:
f = open("a1-resources/retail-head.txt")
f.readline()
s = peek(f)
print(s)

1	30	0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29

In [15]:
if not df.loc[0].empty:
    print("yes")

yes

In [16]:
if not (df.loc[0].A == 2):
    print("yes")

yes